.button {
}

.disabled {
    opacity: 0.5;
}

.secondary {
    color: blue;
}

.default {
}

.red {
    background-color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
